* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: 'Noto Serif', serif;
}

p {
    color: rgb(211, 211, 211);
    font-weight: 300;
}

h1 {
    text-align: center;
    color: rgb(211, 211, 211);
    margin: 0;
    padding: 20px 0 0 0;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}


/*header*/

.module-border-wrap {
    width: 100%;
    background: linear-gradient(to right, rgb(127, 127, 128), rgb(56, 53, 53), rgb(175, 3, 3));
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 10% 30% / 2% 10%;
}

.module {
    width: 100%;
    background: #000000;
    color: rgb(211, 211, 211);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    background-color: #000000;
    padding: 5px 80px 5px 80px;
    width: 100%;
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 999;
}

.head h1 {
    font-family: 'Noto Serif', serif;
    padding: 0;
}

.nav ul {
    display: flex;
    margin: 10px 0 0 0;
}

.nav li {
    list-style: none;
    position: relative;
}

.nav li a {
    text-decoration: none;
    font-size: 1.3em;
    padding: 2px 15px 2px 15px;
    color: rgb(211, 211, 211);
    font-weight: 500;
}

.active,
.activea:hover {
    color: rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    border-top: 1px solid rgb(211, 211, 211);
    border-radius: 10%;
}


/*.nav li a:hover {
    color: rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    border-top: 1px solid rgb(211, 211, 211);
    border-radius: 10%;
}*/


/* hamburger */

.nav li .fa-bars {
    display: none;
    color: rgb(211, 211, 211);
    padding: 0 10px;
    cursor: pointer;
}

.mobile-nav {
    position: absolute;
    background-color: #000000;
    right: 0;
    top: 0;
}

.responsive-menu {
    display: none;
    width: 100vw;
    height: 100vh;
}

.mobile-nav .responsive-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mobile-nav .responsive-menu ul li {
    list-style: none;
    position: relative;
    padding: 15px 5px;
    text-align: center;
}

.mobile-nav .responsive-menu ul li a {
    color: rgb(211, 211, 211);
    font-size: 1.5em;
}


/* parallax */

.parallax {
    position: relative;
    height: 90vh;
    background: transparent;
}

.parallax h1 {
    position: relative;
    display: block;
    top: 80%;
    font-size: 3.3em;
    color: #fff;
    letter-spacing: 0.4em;
}


/*the content*/

.container {
    background-image: url('../images/cavtat2crno.jpg');
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}


/* margin for IE*/

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .container {
        margin-top: 150px;
    }
}

.contwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 30px;
    margin-top: 50px;
}

.icons i {
    color: rgb(211, 211, 211);
    padding: 0 30px;
}

.cont {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top: 5px;
}

.contphoto {
    display: flex;
    position: relative;
    width: 100%;
    padding: 80px 80px;
}

.text {
    padding: 0 150px 30px 150px;
    margin-bottom: 130px;
}

.texttext {
    margin-bottom: 20px;
}

.cont h1 {
    margin-bottom: 10px;
}

.cont p {
    line-height: 1.2;
    font-size: 1.2em;
    margin: 1px;
    font-weight: 400;
    text-indent: 2em;
    margin-block-end: 0.2em;
    letter-spacing: 0.09em;
    word-wrap: break-word;
}

.cont img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 480px;
    max-height: 100%;
}


/* testemonials*/

.conttestemonials {
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5px;
}

.testemonials {
    position: relative;
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    /* fix IE11 */
}

.slides {
    padding: 40px;
    text-align: center;
    flex: 1 1 auto;
    overflow: hidden;
}

blockquote {
    width: 90%;
    margin-left: 100px;
    padding: 10px 40px 10px 40px;
    border-left: 1px solid rgb(211, 211, 211);
    position: relative;
    min-height: 410px;
}

blockquote h2 {
    color: rgb(211, 211, 211);
}

blockquote p {
    font-size: 1.04em;
    font-style: italic;
    line-height: 1.2;
    text-indent: 2em;
    margin-bottom: 1em;
    letter-spacing: 0.09em;
}

blockquote a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.07em;
    color: rgb(56, 53, 53);
}

blockquote a:hover {
    background: linear-gradient(120deg, rgb(127, 127, 128), rgb(56, 53, 53), rgb(175, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

blockquote::before {
    font-family: 'Varela', sans-serif;
    content: "\201C";
    color: rgb(211, 211, 211);
    font-size: 11em;
    position: absolute;
    left: 10px;
    top: -50px;
    line-height: 1em;
}

blockquote::after {
    content: '';
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #000;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: linear-gradient(to right, rgb(127, 127, 128), rgb(56, 53, 53), rgb(175, 3, 3));
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active.dot,
.dot:hover {
    background: linear-gradient(to top, rgb(127, 127, 128), rgb(56, 53, 53), rgb(175, 3, 3));
    border-radius: 50%;
}


/*contact*/

.contcontact {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    margin-top: 5px;
}

.h2 {
    font-size: 1.4em;
    color: rgb(211, 211, 211);
    text-align: center;
    padding-top: 20px;
}

.h2 h2 {
    margin: 0;
}

#reservation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.reservation {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1em;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(211, 211, 211);
    margin: 40px 0;
    width: 50%;
    padding-bottom: 10px;
}

.form {
    margin-bottom: 10px;
}

.form-class {
    width: 50%;
}

.formcontrol {
    display: block;
    width: 100%;
    padding: 7px 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(211, 211, 211);
    background-clip: padding-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    color: rgb(211, 211, 211);
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 7px 10px;
    font-size: 1.1em;
    line-height: 1.5;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(211, 211, 211);
}

.btn:hover {
    color: rgb(211, 211, 211);
    background: linear-gradient(to right, rgb(26, 25, 25), rgb(46, 44, 44), rgb(46, 44, 44), rgb(124, 1, 1));
    text-decoration: none;
}

input[type="submit"].btn,
input[type="reset"].btn,
input[type="button"].btn {
    width: 100%;
}

.map {
    display: flex;
    padding: 40px;
}

.map iframe {
    width: 100%;
    height: 400px;
}

.adress {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgba(211, 211, 211, 1);
    background-color: rgba(0, 0, 0, 0.9);
    margin: 40px 0;
    width: 50%;
    padding: 15px 5px;
}

.adress p,
a {
    line-height: 1.2;
    font-size: 0.9em;
    margin: 3px;
    letter-spacing: 0.09em;
}

.adress i {
    margin-top: 5px;
}

.adress a {
    text-decoration: none;
    color: rgb(127, 127, 128);
}

.adress a:hover {
    background: linear-gradient(120deg, rgb(127, 127, 128), rgb(56, 53, 53), rgb(175, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    margin: 0;
}


/*footer*/

.footer-wrap {
    width: 100%;
    display: flex;
    background: linear-gradient(to right, rgb(56, 53, 53), rgb(56, 53, 53), rgb(175, 3, 3));
    padding-top: 1px;
    border-radius: 10% 10% / 10% 10%;
}

.footer {
    width: 100%;
    display: flex;
    background: #000000;
    color: rgb(211, 211, 211);
    padding: 10px;
    justify-content: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer a {
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: rgb(56, 53, 53);
}

.footer a:hover {
    background: linear-gradient(120deg, rgb(127, 127, 128), rgb(56, 53, 53), rgb(175, 3, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}


/* order online */

.login {
    height: 75vh;
    padding-top: 50px;
}

.login h2 {
    margin-bottom: 20px;
}

.dropdown-content a:hover:nth-last-child(-n+2) {
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px 0;
    min-width: 20vw;
    min-height: 10vh;
    line-height: 1.8;
    font-size: 0.8em;
}

.dropdown-content a {
    margin-top: 13px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: none;
}

.mobdropdown-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    min-width: 100vw;
}

.dropdown:hover .mobdropdown-content {
    display: block;
}

.mobdropdown-content a {
    padding-top: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.orderbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.85);
}

.ordercard {
    width: 31%;
    text-align: center;
    background-color: rgba(211, 211, 211, 1);
    padding: 5px;
    margin: 10px;
}

.ordercard p {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.ordercard h1 {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 1.8em;
    padding-top: 10px;
}

.ordercard .price {
    color: rgba(127, 127, 128, 1);
    font-size: 1.5em;
    margin: 5px;
}

.ordercard img {
    width: 100%;
    height: 250px;
}

.ordercard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgba(211, 211, 211, 1);
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 82%;
    font-size: 1.4em;
}

.ordercard button:hover {
    opacity: 0.7;
}

.ordercard input {
    width: 13%;
    margin-right: 5px;
    font-size: 1.5em;
    padding: 5px 0 7px 8px;
}


/* cart */

.cartbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.85);
}

.carthead {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(124, 1, 1);
}

.cart {
    width: 200px;
    text-align: center;
    background-color: rgba(211, 211, 211, 1);
    padding: 5px;
    margin: 10px;
    flex-wrap: wrap;
}

.cart p {
    color: rgb(0, 0, 0);
    line-height: 0.5;
    font-weight: 500;
}

.cart h1 {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 1.8em;
    padding-top: 10px;
}

.cart a {
    text-decoration: none;
    color: rgba(56, 53, 53, 1);
    font-size: 1.3em;
}

.cart img {
    width: 100%;
    max-height: 100px;
}

.total {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid rgb(124, 1, 1);
    text-align: center;
}

.empticart {
    width: 100%;
    text-align: center;
}

.empticart a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-size: 1.3em;
    margin-left: 15px;
    margin-right: 15px;
}


/* gallery */

.gallery {
    display: flex;
    padding: 20px;
    padding-top: 0;
    flex-wrap: wrap;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .gallery {
        margin-top: 150px;
    }
}

div.gallery img {
    width: 100%;
    max-height: 350px;
}

.responsive_gall {
    padding: 9px;
    display: flex;
    float: left;
    width: 24.99999%;
}

.responsive_gall_2 {
    padding: 9px;
    display: flex;
    float: left;
    width: 49.99%;
}


/* menu */

.menu_container {
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.menu {
    width: 49.3%;
    background-color: rgb(211, 211, 211);
    margin: 5px;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: 50px;
}

.dessert {
    width: 100%;
}

.center {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
}

.bracket {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.1em;
    grid-column-end: 3;
    justify-self: baseline;
    margin: 5px;
}

.menu_span {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 600;
    grid-column-start: 2;
    justify-self: baseline;
    align-self: center;
    margin: 5px;
}

.menu_price {
    color: rgb(119, 98, 3);
    font-size: 1.3em;
    font-weight: 700;
    grid-column-start: 3;
    justify-self: center;
    align-self: center;
    margin: 5px;
}

@media only screen and (max-width: 1440px) {
    .head {
        width: 100%;
    }
    .cont {
        padding: 0 20px 30px 20px;
    }
    .text {
        padding: 0 10px 5px 10px;
        margin-bottom: 50px;
    }
    .contphoto {
        padding: 40px 20px 0 20px;
        margin-top: 40px;
    }
    .cont img {
        height: 400px;
    }
    footer {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    blockquote {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media only screen and (max-width: 1200px) {
    .head {
        padding: 10px 15px 10px 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .cont p {
        font-size: 1.2em;
        line-height: 1;
        padding: 0;
    }
    .cont img {
        height: 380px;
    }
    blockquote {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 992px) {
    h1 {
        text-align: center;
        font-size: 40px;
    }
    .nav li a {
        font-size: 1em;
        padding: 2px 10px 2px 10px;
        font-weight: 400;
    }
    .cont {
        padding: 0 10px 30px 10px;
    }
    .text {
        padding: 0;
        margin-bottom: 50px;
    }
    .contphoto {
        padding: 40px 0 0 0;
    }
    .form-class {
        width: 70%;
    }
    .ordercard {
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    .nav ul {
        padding: 0;
    }
    h1 {
        font-size: 30px;
    }
    .cont {
        width: 100%;
        margin-right: 0;
        padding: 10px;
    }
    .icons {
        margin-top: 20px;
    }
    .text {
        padding: 0 10px 5px 10px;
        margin-bottom: 50px;
    }
    .contphoto {
        padding: 10px 10px;
    }
    .cont img {
        height: auto;
    }
    blockquote {
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px 5px 10px 5px;
    }
    .slides {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cont p {
        line-height: 1;
    }
    blockquote {
        min-height: 500px;
    }
    .h2 {
        font-size: 1.2em;
        padding: 10px 0 0 0;
    }
    .form-class {
        width: 80%;
    }
}

@media only screen and (max-width: 667px) {
    .cont p {
        line-height: 1.1;
    }
    .head {
        padding: 5px 0 5px 5px;
        margin-right: 0;
    }
    .head h1 {
        padding-top: 5px;
    }
    .nav ul {
        margin-top: 8px;
        ;
    }
    .module {
        padding: 7px;
    }
    .nav li:not(:last-child) {
        display: none;
    }
    .nav ul li:last-child {
        padding: 0 8px 8px 8px;
        float: right;
        display: flex;
    }
    .nav li .fa-bars {
        display: flex;
    }
    .reservation {
        width: 70%;
        padding-bottom: 10px;
    }
    .ordercard {
        width: 100%;
    }
    .adress {
        width: 70%;
    }
    .responsive_gall {
        width: 49.99999%;
        margin: 6px 0;
    }
    .responsive_gall_2 {
        width: 100%;
    }
    .menu {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .head h1 {
        font-size: 25px;
    }
    .parallax h1 {
        letter-spacing: 0.1em;
    }
    .cont p {
        line-height: 1.1;
    }
    blockquote {
        min-height: 700px;
    }
    h1 {
        font-size: 20px;
    }
    .responsive_gall {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .nav ul li:last-child {
        padding: 0 8px;
    }
    blockquote {
        min-height: 800px;
    }
    blockquote a {
        font-size: 0.9em;
        letter-spacing: 0.04em;
    }
    .reservation {
        width: 90%;
        padding-bottom: 10px;
    }
    .adress {
        width: 90%;
    }
}