/* welcome */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Taviraj', serif;
}

.welcomebody {
    display: flex;
    display: -webkit-flex; /* NEW */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* NEW */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    width: 1010px;
    height: 130px;
    margin: auto;
    box-shadow: 20px 19px 20px 6px rgb(49, 49, 49);
    border-radius: 10px 10px 0 0;
    padding-bottom: 80px;
}

.welcome img {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px 20px 0 20px;
}

.welcomebtn {
    display: block;
    width: 125px;
    height: 64px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 5px;
    border: none;
    background-size: cover;
    margin: 0 211px 210px 209px;
    z-index: 1000;
}
.welcomebtn:hover {
    transform: scale(1.1);
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    box-shadow: 10px 1px 10px 3px rgb(49, 49, 49);
}

.hr {
    background-image: url('../images/cro.png');
}

.uk {
    background-image: url('../images/uk.png');
}

@media only screen and (max-width: 1200px) {
    .welcome {
        width: 700px;
        height: 80px;
    }
    .welcomebtn {
        margin: 0 149px 145px 140px;
        width: 95px;
        height: 44px;
    }
}

@media only screen and (max-width: 992px) {
    .welcome {
        width: 600px;
        height: 50px;
        padding-bottom: 65px;
    }
    .welcomebtn {
        margin: 0 121px 150px 122px;
        width: 62px;
        height: 29px;
    }
}

@media only screen and (max-width: 766px) {
    .welcome {
        width: 400px;
        height: 249px;
        border-radius: 0;
    }
    .welcomebtn {
        margin: 0 85px 60px 85px;
    }
}

@media only screen and (max-width: 480px) {
    .welcomebody {
        height: 90vh;
    }
    .welcome {
        width: 297px;
    }
    .welcomebtn {
        margin: 0px 65px 45px 65px;
        width: 36px;
        height: 17px;
    }
}

@media only screen and (max-width: 320px) {
    .welcome {
        display: none;
    }
    .kolona img {
        width: 100%;
        position: absolute;
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
    }
    .hr {
        margin: 40px 77px 0 0;
    }
    .uk {
        margin: 40px 0 0 77px;
    }
}

@media screen and (min-width: 321px) {
    .kolona {
        display: none;
    }

}
@media (orientation: landscape) and (max-width: 766px) {
    .welcomebtn {
        margin: 0 81px 85px 81px;
    }

}