*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    text-indent: 2em;
    line-height: 1.6em;
    margin-block-end: 1em;
    letter-spacing: 0.09em;
    word-wrap: break-word;
}

h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-indent: 1em;
    line-height: 1.6em;
    margin-block-end: 1em;
    letter-spacing: 0.09em;
}

h3 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    font-weight: 300;
    text-indent: 1em;
    line-height: 1.6em;
    margin-block-end: 1em;
    letter-spacing: 0.09em;
}

p,
h2,
h3 {
    color: rgb(248, 237, 245);
}


/* Baner and header */

.banner {
    background-image: url(../img/webcovermedium1.jpg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 90vh;
}

header {
    position: fixed;
    position: sticky;
    top: 0;
    width: 100%;
    height: 9vh;
    background: #000;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    z-index: 999;
    padding-right: 15px;
}

img.logo {
    width: 39px;
    height: 35px;
    padding: 0;
}


/* Navbar */

.nav {
    display: flex;
    justify-self: end;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 50px;
}

.nav li {
    list-style: none;
    line-height: 40px;
    margin-top: 10px;
}

.nav li a {
    font-family: 'Montserrat', sans-serif;
    color: rgb(248, 237, 245);
    text-decoration: none;
    padding: 0 15px;
    font-weight: 500;
    display: block;
    font-size: 1.1em;
}

.active,
.activea:hover {
    background-color: rgb(217, 18, 157);
    border-radius: 50% 10% / 20% 40%;
}

.nav li .fa-bars {
    display: none;
    color: rgb(248, 237, 245);
    cursor: pointer;
}

.mobile-nav {
    position: absolute;
    background-color: #000000;
    right: 0;
    top: 0;
}

.responsive-menu {
    display: none;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.mobile-nav .responsive-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mobile-nav .responsive-menu ul li {
    list-style: none;
    position: relative;
    padding: 15px 5px;
    text-align: center;
}

.mobile-nav .responsive-menu ul li a {
    color: rgb(248, 237, 245);
    font-size: 1.5em;
    text-decoration: none;
}


/* Cntend */

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 40px;
    overflow: hidden;
}

.content-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 40px;
}

img {
    width: 100%;
    padding: 16px;
}


/* about */

.about {
    width: 49%;
}

.about-picture {
    float: right;
    height: 250px;
    width: 250px;
}

.module-border-wrap {
    background: linear-gradient(to left, rgb(36, 1, 77), rgb(217, 18, 157));
    padding: 1px;
    border-radius: 50% 20% / 10% 40%;
    margin-top: 20px;
}

.module {
    background: #000000;
    padding: 2rem;
}

.module p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


/* icons */

.icons {
    width: 49%;
    color: rgb(217, 18, 157);
    font-size: 4em;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.fa-gradient {
    background: linear-gradient(to left, rgb(36, 1, 77), rgb(217, 18, 157));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-self-center-top {
    align-self: center;
    margin-top: 80px;
}

.fa-self-center-bottom {
    align-self: center;
    margin-bottom: 80px;
}

.fa-self-end {
    align-self: flex-end;
}

.fa-self-start {
    align-self: flex-start;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50.11%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* work */

.work {
    width: 49%;
}

.card {
    -moz-box-shadow: 0 1px 1px 0 rgba(236, 0, 140, 0.2);
    -webkit-box-shadow: 0 1px 1px 0 rgba(236, 0, 140, 0.2);
    box-shadow: 0 1px 1px 0 rgba(236, 0, 140, 0.2);
    transition: 0.3s;
    margin-left: 150px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.card h5 {
    font-family: 'Lato', sans-serif;
    color: rgb(132, 9, 148);
    text-align: center;
}

.card img {
    max-height: 300px;
}

.card:hover {
    -moz-box-shadow: 4px 8px 16px 0 rgb(217, 18, 157);
    -webkit-box-shadow: 4px 8px 16px 0 rgb(217, 18, 157);
    box-shadow: 4px 8px 16px 0 rgb(217, 18, 157);
    cursor: pointer;
}


/* contact */

.contact {
    width: 49%;
}

.contact span {
    color: rgb(248, 237, 245);
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-indent: 2em;
    line-height: 1.6em;
    margin-block-end: 1em;
    letter-spacing: 0.09em;
}

.contact i {
    color: rgb(248, 237, 245);
    font-size: 1.7em;
    margin-bottom: 5px;
}

.contact a {
    font-family: 'Lato', sans-serif;
    display: block;
    margin-bottom: 10px;
    color: rgb(132, 9, 148);
    text-decoration: none;
}

.mail {
    margin-top: 10px;
}

svg {
    width: 6em;
    fill: rgb(248, 237, 245);
}


/* footer */

footer {
    padding-top: 10px;
}

.footerborderwrap {
    background: linear-gradient(to left, rgb(36, 1, 77), rgb(217, 18, 157));
    padding-top: 1px;
    border-radius: 30% 20% / 10% 10%;
    margin-top: 50px;
}

.footermodul {
    background: #000000;
    color: rgb(248, 237, 245);
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footermodul a {
    color: rgb(87, 47, 127);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}


/*media queryes */

@media only screen and (min-width: 2560px) {
    p {
        font-size: 25px;
    }
    ul li a {
        font-size: 25px;
    }
    .picture {
        width: auto;
    }
}

@media only screen and (min-width: 1440px) and (max-width:2560px) {
    body {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1440px) {
    .banner {
        height: 82vh;
    }
}

@media only screen and (max-width: 1280px) {
    .banner {
        height: 61vh;
    }
    .col-5 {
        width: 90%;
    }
    .col-7 {
        width: 90%;
    }
    .card {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .content,
    .content-reverse {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 45vh;
    }
    .col-6 {
        width: 97%;
    }
    .col-7 {
        width: 95%;
    }
    .work,
    .icons,
    .about,
    .contact {
        width: 100%;
    }
    .icons {
        font-size: 2em;
        margin-top: 50px;
    }
    .card {
        margin-left: 10px;
    }
    .card img {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .banner {
        background-image: url(../img/coversmall.jpg);
        height: 26vh;
    }
    header {
        justify-content: space-between;
        height: 10vh;
        padding: 0 10px;
    }
    h1 {
        margin: 0;
    }
    .module {
        padding: 0.6em;
    }
    h2 {
        font-size: 2em;
    }
    .nav li:not(:last-child) {
        display: none;
    }
    .nav ul li:last-child {
        padding: 0 8px;
        float: right;
        display: flex;
    }
    .nav li .fa-bars {
        display: flex;
    }
    .about-picture {
        width: 150px;
        height: 150px;
    }
    .card img {
        padding: 0 20px;
    }
}

@media only screen and (min-width: 481px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .banner {
        height: 19vh;
    }
}